<% content_for :title, "Editing set menu" %>

<h1>Editing set menu</h1>

<%= render "form", set_menu: @set_menu %>

<br>

<div>
  <%= link_to "Show this set menu", @set_menu %> |
  <%= link_to "Back to set menus", set_menus_path %>
</div>
