<div class=" containner">
<div class="flex items-center justify-center gap-1 p-4 flex-start ">
 <span class="border-b-4">แนะนำ</span>
 <span class="border-b-4">ข้าว</span>
 <span class="border-b-4">ก๋วยเตี๋ยว</span>
 <span class="border-b-4">ของหวาน</span>
 <span class="border-b-4">เครื่องดื่ม</span>
 </div>
</div>