<div class=" bg-amber-300 px-2 flex gap-6 h-28 items-center justify-center">
  <%= image_tag path_to_asset("logo.svg"), class: "size-16" %>
  <p class="text-3xl font-semibold">Tasty Everyday</p>
</div>
