<p style="color: green"><%= notice %></p>

<div class="min-h-screen flex flex-col -y-space6 w-full bg-gray-50 ">
 
  <%= render 'food_items/header' %>

  <nav class="flex gap-4 items-center my-2 px-2 pb-2 border-b-2" >
    <%= link_to 'เมนูแนะนำ', food_items_recommended_path, class:"font-medium text-xl" %>
    <h1 class="font-medium text-xl underline">เมนูทั้งหมด</h1>

  </nav>

  <div class="container mx-auto px-4 flex flex-col space-y-4">
    <%= render 'food_items/all_menu/card' %>
  </div> 

  </div>
</div>
