<div class="w-full">
  <%= render 'header' %>
  <nav class="flex gap-4 items-center my-2 px-2 pb-2 border-b-2" >
    <h1 class="font-medium text-xl underline">เมนูแนะนำ</h1>
    <%= link_to 'เมนูทั้งหมด', food_items_path, class: "font-medium text-xl" %>
  </nav>

  <!-- Recommended Foods -->
  <% @recommended_foods_by_category.each do |category, recommended_foods| %>
    <div class="font-medium my-4 text-2xl px-2"><%= category %></div>
    <ul class="flex flex-col gap-4 px-4">
      <% recommended_foods.each do |food| %>
        <%= render 'food_items/all_menu/card', food_item: food %>
      <% end %>
    </ul>
  <% end %>
</div>
