<p style="color: green"><%= notice %></p>
<div class="flex flex-wrap">

  <div class="flex items-center">
    <%= link_to food_items_path, class: "flex justify-center items-center w-10 h-10 bg-white rounded-full shadow-md" do %>
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 13L1 7L7 1" stroke="#21272A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    <% end %> 
  </div>

  <%= render @food_item %>
</div>


